# factorial

In [1]:
n = 5
num = n
if n<0:
    fact = 0
elif n==0 or n==1:
    fact = 1
else:
    fact = 1
    while n>1 :
        fact *= n
        n -= 1

print('Factorial '+ str(num) + ' is '+ str(fact))

Factorial 5 is 120

## list(ordered-changeable-duplicate members)

In [2]:
a = [0]*7
print(a)

[0, 0, 0, 0, 0, 0, 0]

In [3]:
a = [True, "hello", 12]
print(a)

[True, 'hello', 12]

In [4]:
name_image = ['image.jpg', 'image.jpg']#duplicate
name_image

['image.jpg', 'image.jpg']

# dot-product

In [5]:
x1 = [1, 0.5, 0.2]
x2 = [0.5, 0.7, 1]

n = len(x1)
total = 0

for i in range(n):
    total += x1[i]*x2[i]

print(total)

1.05

In [6]:
l = []
for i in range(5):
    l = l +[0.0]

In [7]:
l

[0.0, 0.0, 0.0, 0.0, 0.0]

In [8]:
a = [1, 2, 3]
print(type(a))
a[0] = 0.5
print(a)

<class 'list'>
[0.5, 2, 3]

In [9]:
a = [10, 15, 30, 25]
start = 0
stop = 2
step = 1
a[start:stop:step]

[10, 15]

In [10]:
a[:]

[10, 15, 30, 25]

# Inverse list

In [11]:
a = [4, 5, 6, 2, 3]

n = len(a)
for i in range(n//2):
    temp = a[i]
    a[i] = a[n-1-i]
    a[n-1-i] = temp
print(a)

[3, 2, 6, 5, 4]

In [12]:
a = [4, 5, 6, 2, 3]

n = len(a)
for i in range(n//2):
    a[i], a[n-1-i] = a[n-1-i], a[i]
    
print(a)

[3, 2, 6, 5, 4]

In [13]:
a = list(range(0,11))
for i in reversed(a):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1 0

# mean

In [14]:
total = 0.0
a = list(range(0,11))
for i in range(len(a)):
    total += a[i]

average = total / len(a)
print(average)

5.0

In [15]:
total = 0.0
a = list(range(0,11))
average = sum(a) / len(a)
print(average)

5.0

In [16]:
import time
import random

start = time.time()

a = []
for i in range(1000000):
    a+=[random.random()]

stop = time.time()
print(stop - start)

0.34125828742980957

# list comprehension

In [17]:
import time
import random

start = time.time()

a = [random.random() for i in range(1000000)]

stop = time.time()
print(stop - start)

0.24117040634155273

In [18]:
string2="hello"
string2.upper()

'HELLO'

# Add to list

In [19]:
letters = ['a', 'b', 'c', 'd']

upper_letters = []
for letter in letters:
    result = letter.upper()
    upper_letters.append(result)

print(upper_letters)

['A', 'B', 'C', 'D']

## Tuple(immutable-ordered-unchangeable-duplicate members)

In [20]:
a = (1, 2, 3)
type(a)

tuple

## Set(unordered-unindexed-no duplicate members)

In [21]:
example_set = {"hello", 12, 2.3}
for i in example_set:
    print(i)

2.3
hello
12

# Example1

In [22]:
list1 = [11, 5, 17, 18, 23, 50]
for ele in list1:
    if ele%2==0:
        list1.remove(ele)

list1

[11, 5, 17, 23]

# Example2

In [23]:
list2 = [10, 12, 23, 52, 2, 0]
b = sorted(list2)# create a new list
b

[0, 2, 10, 12, 23, 52]

In [24]:
list2

[10, 12, 23, 52, 2, 0]

In [25]:
list2.sort()# doesn't create a new list

In [26]:
list2

[0, 2, 10, 12, 23, 52]

# Nested list

In [27]:
matrix = [[1, 2, 3],[4, 5, 6],[7, 8, 9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [28]:
matrix = []
for i in range(5):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

## dictionary(ordered-changeable-no duplicate members)

In [29]:
a = {"key1":"value1", "key2":"value2"}
a

{'key1': 'value1', 'key2': 'value2'}

In [30]:
a = {1:"ss", "t":True, False:"Hello"}
a

{1: 'ss', 't': True, False: 'Hello'}

In [31]:
len(a)# number of items in dictionary

3

In [32]:
print(a[1], a["t"])

ss True

In [33]:
a["t"] = "sara"
a

{1: 'ss', 't': 'sara', False: 'Hello'}

In [34]:
a["new"]=120
a

{1: 'ss', 't': 'sara', False: 'Hello', 'new': 120}

### keys() in dictionary

In [35]:
print(a.keys())
list_key = list(a.keys())
list_key[1]

dict_keys([1, 't', False, 'new'])

't'

### values() in dictionary

In [36]:
a.values()
list_value = list(a.values())
list_value[1]

'sara'

### get() in dictionary

In [37]:
a.get("t")# is equal a["t"]

'sara'

### pop() in dictionary

In [38]:
a.pop(1)
a

{'t': 'sara', False: 'Hello', 'new': 120}

### clear() in dictionary

In [39]:
a.clear()
a

{}

# Example3

In [40]:
a = list1 = ['a', 'b', 'a', 'b', 'a', 'c', 'a', 'c', 'b']
dict1 = {}
for i in list1:
    counter = 0
    for j in list1:
        if i == j:
            counter+=1
    dict1[i]= counter
dict1

{'a': 4, 'b': 3, 'c': 2}

In [41]:
from collections import Counter
list1 = ['a', 'b', 'a', 'b', 'a', 'c', 'a', 'c', 'b']
Counter(list1)

Counter({'a': 4, 'b': 3, 'c': 2})

# try:

# except :

# else:

# finally:

In [42]:
print(12/0)

ZeroDivisionError: division by zero

In [43]:
try:
    print(12/0)
except Exception:
    print("Devision by zero")

Devision by zero

In [44]:
try:
    print(12/0)
except ZeroDivisionError:
    print("This is ZeroDivisionError ")
except ValueError:
    print("This is ValueError")

This is ZeroDivisionError

In [45]:
try:
    print(12/0)
except Exception as e:
    print(e)

division by zero

In [46]:
try:
    prin(12/0)
except Exception as e:
    print(e)

name 'prin' is not defined

In [47]:
try:
    print(12/2)
except Exception as ex:
    print(ex)
else:
    print("if don't except")

6.0
if don't except

In [48]:
try:
    print(10)
except Exception as e:
    print(e)
else:
    print("is true")
finally:
    print("all time")

10
is true
all time